* {
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif !important;
    margin: 0;
    background-color: #f2f2f2;
}

.accordion {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-family: "Lato", sans-serif;
    position: center;
    padding: 14px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #ff9000;
    display: block;
    transition: 0.3s;
}

.accordion.active {
    color: white;
    background-color: #ff9000;
}

.accordion:hover {
    color: #dc5c05;;
}

div.drpnav {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.bodylog {
    animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}

#main-content {
    margin-top: 2px;
    margin-left: 50px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

.bodylog {
    background-color: #ffffff;
    animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}
}

.header {
    font-family: "Lato", sans-serif;
    margin:auto;
    font-size: 20px;
    color: white;
    overflow: hidden;
    background-color: #009688;

    top: 0;
    height: 50px;
    width: 100%;
    box-shadow:0 4px 20px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)

}

.log {
    font-family: "Lato", sans-serif;
    margin-right: 50px;
    margin-top: 15px;
    font-size: 18px;
    float: right;
    width: 100px;
    outline:0;
    border:none;
}

.manage{
    padding-left: 20px;
    padding-top: 15px;
    padding-right: 10px;
    font-size: 10px;
}


.navi{
    font-family: "Lato", sans-serif;
    height: 100px;
    width: 240px;
    margin-top: -60px;
    background-image: url(/Public/images/menu.png) !important; 
    background-size: 60px 58px;
    background-position: center;
    background-repeat: no-repeat;

}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    color:#000!important;background-color:#f1f1f1!important;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
}

.sidenav a {
    font-family: "Lato", sans-serif;
    position: center;
    padding: 14px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #ff9000;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #dc5c05;
}

.sidenav a.active {
    color: white;
    background-color: #ff9000;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.t-s{
    width: 100%;
    text-align: center;
}

div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 95%;
}

div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

div.tab button:hover {
    background-color: #e94d40;
    color:white;

}

div.tab button.active {
    background-color: #009688;
    color: white;

}

.tabcontent {
    font-family: "Lato", sans-serif;
    margin-top: 10px;
    margin-left: 60px;
    margin-right: 10%;
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}


@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
form{
    padding-top: 50px;
    margin: auto;
    margin-left: 210px;
}


.ans-p{
    text-align:center;
    width: 90%;
    padding: 5px 5px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
 

.ans-p:focus {
    border: 2px solid #009688;
}

.ans-p-d{
    text-align:center;
    width: 85%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
 

.ans-p-d:focus {
    border: 2px solid #009688;
}

.time-s{

    border-collapse;
    padding-left: 20px;
    position: relative;
    max-width: 1500px;
    margin: 0 auto;
    border-spacing: 0px;
}

.ing{
        padding-left: 20px;
}

.sea-a{
    position: relative;
    margin-top: -20px;
}

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1500px;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -16px;
}

/* The actual content */
.content {
    padding: 5px 10px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media all and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }
  
  /* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
  
  /* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }
  
  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}
.sea {

    margin-left: -15%;
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.sea:focus {
    width: 50%;
}

#outer
{
    width:100%;
    margin-top: -40px;
    margin-bottom: 10px;
    text-align: right;
    padding-right: 30px;
}
.inner
{
    display: inline-block;
}

.btn-t,.button-t{    
    border:none;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    outline:0;padding:5px 13px;
    vertical-align:middle;
    cursor:pointer;white-space:nowrap
    background-color:inherit;
    text-align:center;
    cursor:pointer;white-space:nowrap
}

.btn-t:hover{
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)
}

.teal-l,.hover-teal-l:hover{color:#fff!important;background-color:#009688!important
}
