<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="shortcut icon" type="../image/png" href="img/w-ico.png">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/Admin.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
    </head>
    <body>

        <div class="wrapper">
            <div id="content">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="btn btn-info navbar-btn">
                                <i class="glyphicon glyphicon-user"></i>
                            </button>
                             <span id="lblGreetings"></span>
                        </div>


                            <ul class="nav navbar-nav navbar-right">
                                    <li><a href="appt.html"><span class="glyphicon glyphicon-pencil"></span> Appointment</a></li>
                                    <li><a href="#"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
                                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                            </ul>
                    </div>
                </nav>

                <div class="row">
                    <div class="col-md-6 panel-body">
                            <form>
                                <div class="form-group">
                                    <label>Reason to ...</label>
                                    <select class="form-control" id="reason">
                                      <option>Prenatal Checkup</option>
                                      <option>Postnatal Checkup</option>
                                      <option>Laboratory</option>
                                      <option>Infant Consultation</option>
                                      <option>Paps Smear</option>
                                      <option>Immunization</option>
                                      <option>Ultrasound</option>
                                    </select>
                            <label>Name</label>
                            <input class="form-control" type="text" name="">

                            <label>Email</label>
                            <input class="form-control" type="text" name="">
              
                            <label>Contact Number</label>
                            <input class="form-control" type="text"onkeypress='return event.charCode >= 48 && event.charCode <= 57' name=""><br>
                            </form>

                        <div class="row text-center">
                              <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>

                              <button class="btn btn-fix" type="button">Submit</button>
                        </div>
                    </div>
                    <div class="col-md-6"></div>
                </div>
            </div>
        </div>



        <div class="overlay"></div>


        <!-- jQuery CDN -->
        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <!-- Bootstrap Js CDN -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!-- jQuery Custom Scroller CDN -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                $("#sidebar").mCustomScrollbar({
                    theme: "minimal"
                });

                $('#dismiss, .overlay').on('click', function () {
                    $('#sidebar').removeClass('active');
                    $('.overlay').fadeOut();
                });

                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar').addClass('active');
                    $('.overlay').fadeIn();
                    $('.collapse.in').toggleClass('in');
                    $('a[aria-expanded=true]').attr('aria-expanded', 'false');
                });
            });
        
            var myDate = new Date();
    var hrs = myDate.getHours();

    var greet;

    if (hrs < 12)
        greet = 'Good Morning';
    else if (hrs >= 12 && hrs <= 17)
        greet = 'Good Afternoon';
    else if (hrs >= 17 && hrs <= 24)
        greet = 'Good Evening';

    document.getElementById('lblGreetings').innerHTML =
        '<b>' + greet + '</b>!';

        </script>


    </body>
</html>