body {

	background-color: #ffffff;
}

form{
	padding-top: 50px;
	margin: auto;
	margin-left: 210px;
}


input[type=text]{
	text-align:center;
    width: 85%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    -webkit-transition: 0.9s;
    transition: 0.9s;
    outline: none;
}
 

input[type=text]:focus {
    border: 2px solid #009688;
}

input[type=password] {
	text-align:center;
    width: 85%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    -webkit-transition: 0.9s;
    transition: 0.9s;
    outline: none;
}
 

input[type=password]:focus {
    border: 2px solid #009688;
}



a {
	color: black;
	font-family: "Arial";
	font-size: 15px;
	margin-left: 310px;
	text-decoration: underline;
	cursor:pointer;white-space:nowrap


}

.container {
	margin: auto;
	background-image: url(css/Login_bg.jpg) !important; 
	background-repeat: no-repeat;
	background-size:550px 390px; 
	margin-top: 120px;
    width: 550px;
    height: 390px;
    box-shadow: 10px 10px 7px #978b7d;
}

.admin {
	text-align: center;
	padding-left: 210px;
	padding-top: 50px;

}

.admin-1 {

	width: 85%; 
	height: 20px; 
	border-bottom: 2px solid #ccc; 
	font-family: "Arial";


}




.btn-l,.button-l{

	margin-bottom: 20px;
	margin-top: 15px;
	width: 85%;
	border:none;
	outline:0;padding:10px 26px;
	vertical-align:middle;
	overflow:hidden;
	text-decoration:none;
	color:inherit;
	background-color:inherit;
	text-align:center;
	cursor:pointer;white-space:nowrap

}

.btn-l:hover{
	box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)
}

.btn-l,.button-l{
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none
}  

.disabled,.btn-l:disabled,.button:disabled{
	cursor:not-allowed;
	opacity:0.3
}

.disabled *,:disabled *{
	pointer-events:none
}

.btn-l.disabled:hover,.btn:disabled:hover{
	box-shadow:none
}

.teal-l,.hover-teal-l:hover{color:#fff!important;background-color:#009688!important}