	body {
		font-family:arial, sans-serif;
		font-size:9pt;
		color:#000000;
		}
	td {
		vertical-align:top;
		}
		
	li {
		padding-bottom:5px;
		}
	
	
	#banner
		{
		background-color:#EEEEEE; 
		padding:10px 0 10px 0; 
		margin-bottom:10px;
		}
	.headline {
		color:#5F002A;
		font-size:22pt;
		font-weight:bold;
		font-family:Lucida Sans, Lucida Grande, arial, sans-serif;
		
		}
	.subhead {
		color:#5F002A;
		font-size:11pt;
		font-weight:normal;
		font-family:Lucida Sans, Lucida Grande, arial, sans-serif;
		text-decoration:none;
		}
	.caption {
		color:#000000;
		font-size:8pt;
		font-weight:normal;
		padding:20 15 30 15;
		}
	.captionbg {
		background-image:url('http://www.tab.ca/Common/downloads/images/greybox.gif');
		background-repeat: no-repeat;
		}
	.about {
		color:#999999;
		font-size:9pt;
		font-weight:normal;
		}
	.main {
		color:#333333;
		font-size:10pt;
		font-weight:normal;
		font-family:verdanna, sans-serif;
		}
	.footer {
		color:#333333;
		font-size:9pt;
		font-weight:normal;
		font-family:verdanna, sans-serif;
		background-color:white;
		padding-top:9px;
		text-align:left;
		padding:5px;
		}
	.call {
		color:#000000;
		font-size:11pt;
		font-weight:bold;
		padding:0 10 10 0;
		}
	.call2 {
		color:#000000;
		font-size:10pt;	
		line-height:14pt;
		font-weight:normal;
		padding:0 10 20 0;
		}
	.call3 {
		color:#000000;
		font-size:10pt;
		padding:10px;
		font-weight:bold;
		border: solid 1px #999999;
		background-color:#eeeeee;
		}
		.call4 {
		color:#000000;
		font-size:10pt;
		padding:10px;
		font-weight:normal;
		border: solid 1px #999999;
		background-color:#eeeeee;
		}
	.call3header {
		font-family:Lucida Sans, Lucida Grande, arial, sans-serif;
		color:#5F002A;
		font-size:12pt;
		padding:0 10 10 0;
		
		}
	/*a {
		color:#61002A;
		}
		a:hover {
		color:#555555;
		}
		a:visited {
		color:#61002A;
		}
		a:visited:hover {
		color:#555555;
		}
	  a.left {
		color:#9E9999;
		}
		a.left:hover {
		color:#61002A;
		}
		a.left:visited {
		color:#9E9999;
		}
		a.left:visited:hover {
		color:#61002A;
		}
*/

.fieldTitle       { font-family: Arial, Univers, Sans-Serif; font-size:10pt; color:black; }
.fieldNote        { font-family: Arial, Univers, Sans-Serif; font-size:10pt; color:black; }
.fieldDescription { font-family: Arial, Univers, Sans-Serif; font-size:8pt;  color:gray;  }
.fieldBullet      { font-family: Arial, Univers, Sans-Serif; font-size:12pt; color:red;   }	 
.lists			  { font-family: Arial, Univers, Sans-Serif; font-size:10pt; color:black; }