html {
	@bc(red);
}

.sidebarwidget .spacer a.button{
	margin-bottom: 5px;
}

.shortcode_content .resource img{
	margin: 0px 10px 10px 10px;
}

body .shortcode_content a.button{
	margin-top: auto;
	margin-bottom: auto;
	display: table;
}

.shortcode_content .resource li {
	min-height: 94px;
}

header #navigation {
	z-index: auto !important;
}